body {
  background: -webkit-linear-gradient(left, #43cea2, #185a9d);
  height: 100%;
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
  font-family: 'Anonymous Pro', monospace;
  /*font-family: 'tradegothiclt-bold', sans-serif;
  @font-face {
    font-family: "Custom";
    src: url(https://fonts.googleapis.com/css?family=Open+Sans);
  }
  /*font-family: 'Gabriele', Gabriele Bad AH;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
    font-family: "My Custom Font";
    src: url(https://ff.static.1001fonts.net/g/a/gabriele.bad-ah.ttf) format("truetype");
} */

h1 {
  font-size: 5em;
  color: white;
  text-transform: uppercase;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
